{%- css %}{% include "public/css/postlist.css" %}{% endcss %}

<div class="posts-grid">
	{%- for post in postslist | reverse %}
		<div class="post-card card bg-base-100 shadow-sm">
			<div class="card-body">
				<h2 class="card-title">
					<a href="{{ post.url }}">
						{% if post.data.title %}{{ post.data.title }}
						{% else %}
							<code>{{ post.url }}</code>
						{% endif %}
					</a>
				</h2>
				<time class="post-card-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
				<p>{{ post.description }}</p>
			</div>
		</div>
	{%- endfor %}
</div>